* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


html {
    border: 5px solid black;
}

body {


}



header {
    border: 5px dashed blue;
    text-align: center;
    font-size: large;
    background-color: bisque;



}

.small-profile-img {

    border: 3px;
    border-radius: 40px;
}

.baut-me-colum-2{
    width: 400px;
}