/* Estilos generales (pantallas grandes) */
body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
}

/* Responsive: pantallas pequeñas */
@media (width  > 600px) {
  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: 22px;
  }
}
