*{
    text-align: center;
   
    font-size: large;
}

#botones{
    margin-top: 10px;
    display: flex;
    justify-content: center;  
    align-items: center;       
    gap: 20px;                 
    flex-wrap: wrap;     
    cursor: pointer;      
}

#timerlabel{
    font-size: 10px;
    margin-top: 10px;
}
.button{
    cursor: pointer;
}
