  * {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
  }

  div {
      border: 2px solid blue;
      border-radius: 4px;
      box-shadow: 5px 2px blue;
      margin: 10px;
      width: fit-content;
      position: relative;

  }

  /* 
What the relative positioning does is that 
The element applied with relative positionign
will remain in its oriogina
We change its position using "left/Right/Top/Bottom"
Its moves relative to tis original position
*/
  div:nth-child(odd) {
      left: 20vw;
  }

  h1 {
      text-align: center;
      width: 30px;
  }

  h2 {
      border: 2px solid blue;
      position: sticky;
      /*
     the following four parameters are used to control the position of this elements
     wich respect to the viewpoert
     The position of the top border of this element relative to the viewport*/
      width: fit-content;
      top: 0px;
      left: auto;
      right: auto;
      bottom: auto;
  }

  .poem-images {
      width: 5vw;
      border-radius: 2px;
      position: absolute;
      /* The absolute positioning of the element */
      top: 0;
      right: 0;
  }

  nav {
      position: fixed;
      background-color: beige;
      z-index: 5;
      margin: 2vw;
      top: 0vw;
      right: 0vw;
       
  }

  main {
      margin-top: 8vw;
  }
  a{
     padding-left: 5vw;
  }