 * {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
 }

 div {
     border: 2px solid blue;
     border-radius: 4px;
     box-shadow: 5px 2px blue;
     margin: 10px;
     width: fit-content;
     position: relative;

 }
 

 body>h1 {
     width: 30px;
 }

 h2 {
     border: 2px solid blue;
     position: sticky;
     /*
     the following four parameters are used to control the position of this elements
     wich respect to the viewpoert
     The position of the top border of this element relative to the viewport*/
     width: fit-content;
     top: auto;
     left: auto;
     right: auto;
     bottom: auto;
     position: absolute;
 }
.poem-images{
    width: 5vw;
    border-radius: 2px;
    position: absolute;
    /* The absolute positioning of the element*/
    top: 0;
    right: 0;
}